<div class="card">
	<h3 class="card-header">
		我们是共产主义接班人
	</h3>
	<div class="card-body">
		<table class="table table-bordered">
			<tr>
				<th>编号</th>
				<th>姓名</th>
				<th>IDNo</th>
				<th>电话</th>
				<th>住址</th>
				<th>性别</th>
				<th class="text-center">操作</th>
			</tr>
			<tr ng-repeat="x in tables">
				<td>{{$index+1}}</td>
				<td>{{x.Name}}</td>
				<td>{{x.Number}}</td>
				<td>{{x.Phone}}</td>
				<td>{{x.Adds}}</td>
				<td>{{x.Sex===1?"男":(x.Sex===2?"女":"不详")}}</td>
				<td class="text-center"><button class="btn btn-warning">添加数据</button></td>
			</tr>
		</table>
	</div>
</div>